{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],

  "presets": ["next/babel", "@babel/preset-typescript"]
}
